<%- include('../partials/header'); %>

<main class="main" id="confirmMain">
    <div class="container">
        <h2 class="text-center">Form submitted successfully</h2>
        <img src="https://media1.giphy.com/media/yr6VVsb27K0es/200w.gif?cid=6c09b9529bin98v7qdqle44oeybew6y4d6kt8ibqg76w561e&ep=v1_gifs_search&rid=200w.gif&ct=g" alt="success gif" class="img-fluid d-block mx-auto">
    </div>
</main>

<%- include('../partials/footer'); %>